* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relleno-lat {
    padding-left: 9%;
    padding-right: 9%;
}

.relleno-col {
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* columnas */

.column-1 {
    width: 100%;
    text-align: left;
    padding: 4% 7% 0% 7%;
    font-size: 1vw;
}

.column-2 {
    width: 50%;
    float: left;
    padding: 4% 7% 4% 7%;
}

.column-4 {
    width: 25%;
    padding: 4% 7%;
    float: left;
}


/* imagenes */

.img {
    height: 50vh;
    width: 20vw;
    border-radius: 10px;
}


/* encabezado */

#header {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    padding-bottom: 15px;
}


/* iconos */

.iconos {
    padding-top: 4px;
    padding-bottom: 15px;
}

#youtube {
    padding-right: 5%;
    color: red;
}

#twitch {
    color: purple
}

#twitter {
    padding-left: 5%;
    padding-right: 5%;
    color: #00acee;
}

#facebook {
    color: #3b5998;
}


/* navegación */

.sticky {
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    position: -webkit-sticky;
    position: sticky;
    font-size: 1vw;
    width: 100%;
    top: 0%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: #111;
}

li.active {
    background-color: #4caf50;
}

html {
    scroll-behavior: smooth;
}


/* letras */

.tit {
    font-size: 2.5vw;
    color: darkcyan;
}

.txt {
    font-size: 1.75vw;
    text-align: left;
}

#section-1 h1 {
    text-align: center;
}

#section-2 p {
    font-size: 1.5vw;
}

#section-3 p {
    font-size: 1.5vw;
}


/* idiomas */

progress {
    width: 100%
}

.barra {
    padding-left: 8%;
    padding-right: 8%;
}

#fra {
    padding-bottom: 15px;
}


/* secciones */

#section-1 {
    text-align: left;
    font-size: 2vw;
    padding-bottom: 30px;
}

#section-2 {
    height: 70vh;
    width: 100%;
    background-color: lightgrey;
}

#section-3 {
    height: 70vh;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

#section-4 {
    height: 60vh;
    width: 100%;
    background-color: lightgrey;
}

#section-5 {
    height: 100%;
    width: 100%;
    float: left;
    padding-left: 7%;
    padding-right: 7%;
}

#section-6 {
    width: 100%;
    float: left;
    background-color: black;
    color: white;
    padding-left: 7%;
    padding-right: 7%;
}

@media only screen and (max-width: 750px) {
    #header {
        height: 200%;
        text-align: center;
    }
    #header h1 {
        font-size: 7vw;
    }
    #header h2 {
        font-size: 5.5vw;
    }
    #header a {
        font-size: 25px;
    }
    iframe {
        width: 90vw;
        height: 60vw;
    }
    .column-2 {
        width: 100%;
    }
    h1 {
        font-size: 8vw;
    }
    .tit {
        font-size: 9vw;
    }
    .txt {
        font-size: 5vw;
    }
    .img {
        height: 35vh;
        width: 50vw;
    }
    #section-2 {
        height: 90vh;
        width: 100%;
    }
    #section-2 p {
        font-size: 4vw;
    }
    #section-3 {
        height: 60vh;
        width: 100%;
    }
    #section-4 {
        height: 80vh;
        width: 100%;
    }
    #section-3 p {
        font-size: 4vw;
    }
    #section-4 p {
        font-size: 4vw;
    }
    #section-5 p {
        font-size: 5vw;
    }
    a {
        font-size: 3vw;
    }
    li a {
        padding: 14px 1vw;
    }
}